<ion-view view-title="Справка">
  <ion-nav-buttons side="left">
    <button class="button" ng-click="navGoBack();"><i class="icon ion-arrow-left-c"></i></button>
  </ion-nav-buttons>
  <ion-content>

    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Пальто, полупальто, плащ, жакет, пиджак</h4>
            <img style="width:50%" src="img/info-img1.jpg"><img style="width:50%" src="img/info-img2.jpg">
          <p>Прямого или полуприлегающего силуэта, незначительно расклешенного по боковым швам
            (расклешение по боковым швам до 10 см по низу в сложенном вдвое изделии длиной до
            уровня  коленей  и  до  20  см  –  в  изделии  длиной  ниже  уровня  коленей),  с  вытачками  (по
            линии  талии  количество  вытачек  не  более  четырех),  пиджак  с  вытачками  и  отрезными
            бочками; жакет по линии талии с четырьмя вытачками или двумя вытачками и отрезными
            бочками. Изделия с подкладкой, бортовой или клеевой прокладкой (с разным сочетанием
            прокладочных  деталей)  или  без  нее,  верхними  плечевыми  накладками  или  без  них;  или
            изделия  демисезонные  без  подкладки  –  с  чистой  обработкой  срезов  (окантовывание,
            настрачивание тесьмы и т.п.). Застежка бортовая центральная или смещенная, наружная
            или  внутренняя  на  петли  и  пуговицы  или  на  молнию,  или  на  кнопки,  или  на  крючки  с
            петлями.  Нижний  край  бортов  с  прямыми  углами  или  скругленный.  Карманы:  в  швах
            прорезные в рамку или с листочками, или с клапанами; разных форм несложных фасонов
            накладные  (с  прямым  или  фигурным  верхним  краем  или  с  планкой  по  верхнему  краю),  в
            пальто, плаще, жакете – не более двух карманов или один сложный карман накладной (с
            клапаном, хлястиком, бейкой, складками и т.д.); в пиджаке не более трех карманов; или не
            более  четырех  отделочных  клапанов  или  хлястиков  в  изделии;  или  имитация  двух
            накладных  карманов  (или  карманов  и  клапанов)  путем  выполнения  выпуклых  рельефов.
            Внутренние  карманы  без  отделки  –  не  более  двух,  карман  для  мелочи  в  подкладке
            прорезного  кармана.  Спинка  цельная  или  разрезная  со  швом,  или  с  односторонней  или
            встречной  складкой.  Воротник  отложной  (с  цельновыкроенной  стойкой),  шаль,  апаш,
            стойка  (по  обхвату  шеи).  Рукава:  втачные,  полуреглан,  реглан,  цельновыкроенные,
            комбинированные.  Низ  рукавов  гладкий  или  со  шлицами  (разрезами)  без  петель  или  с
            петлями и пуговицами, или с отворотами, или с продернутой эластичной тесьмой, готовым
            шнуром  в  один  ряд,  или  с  одной  вытачкой,  складкой  на  каждом  рукаве.  Низ  изделия  с
            продернутой  эластичной  тесьмой,  готовым  шнуром  в  один  ряд  или  без  них.  Края  и  швы
            деталей  обработаны  без  отделочной  строчки  или  с  одной  отделочной  строчкой  в  одну
            нитку.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Жилет</h4>
            <img style="width:50%" src="img/info-img3.jpg">
          <p>Прямого  или  полуприлегающего  силуэта,  с  вытачками  (по  линии  талии  количество
            вытачек  не  более  четырех)  и  отрезными  бочками.  С  подкладкой,  с  прокладкой  или  без
            нее,  или  без  подкладки  с  чистой  обработкой  срезов  (окантовывание,  настрачивание
            тесьмы и т.п.). Застежка аналогична застежке в пальто. Спинка цельная или разрезная со
            швом, или с односторонней или встречной складкой. Без карманов. Воротник несложной
            конструкции  или  вырез  горловины  разных  форм.  Края  и  швы  деталей  обработаны  без
            отделочной  строчки  или  с  одной  отделочной  строчкой  в  одну  нитку.  Жилет    (без
            подкладки)  Описание  фасона  минимальной  сложности  аналогично  приведенному  выше.
            Срезы деталей обметаны на краеобметочной машине.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Брюки женские с подкладкой под передние половинки и без подкладки</h4>
            <img style="width:50%" src="img/info-img4.jpg">
          <p>На  цельновыкроенном  или  притачном  поясе  шириной  до  7  см  с  оформлением  концов
            разных  форм,  или  на  корсаже,  со  шлевками  не  более  пяти,  с  четырьмя  вытачками
            (складками) по линии талии. Застежка в шве на молнию или на крючки и петли. Низ брюк с
            цельновыкроенными манжетами или без манжет, ширина по низу до 30 см.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Брюки мужские (с подкладкой под передние половинки и без подкладки)</h4>
            <img style="width:50%" src="img/info-img5.jpg">
          <p>На  цельновыкроенном  или  притачном  поясе  шириной  до  7  см  с  оформлением  концов
            разных  форм,  со  шлевками  не  более  пяти,  с  четырьмя  вытачками  (складками)  по  линии
            талии.  Застежка  гульфика  на  петли  и  пуговицы  или  на  молнию.  Карманы:  на  передних
            половинках  в  отрезных  боковых  частях;  прорезные  в  рамку  или  с  листочками,  или  с
            клапанами; в боковых швах накладные разных форм несложных фасонов (с прямым или
            фигурным верхним краем или с планкой по верхнему краю) – не более двух карманов или
            один сложный карман накладной (с клапаном, хлястиком, бейкой, складками и т.д.); один
            карман  на  задней  половинке;  карман  для  часов  или  без  него.  Низ  брюк  с
            цельновыкроенными манжетами или без манжет, ширина по низу до 30 см</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Мужская легкая одежда  Верхняя сорочка, блуза.</h4>
            <img style="width:50%" src="img/info-img6.jpg">
          <p>Перед с застежкой, обработанной припусками на петли и пуговицы или на молнию длиной
            до  20  см.  Кокетка  прямая  на  спинке.  Воротник  отложной  без  отрезной  стойки,  воротник­
            стойка  и  вырез  горловины  разных  форм.  Рукава  втачные  короткие  или  длинные,  низ
            рукавов  без  манжет  или  на  эластичной  тесьме  в  один  ряд,  или  с  цельновыкроенными
            отворотами. Края деталей с одной отделочной строчкой в одну нитку. </p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Куртка (изделие длиной не ниже линии бедер)</h4>
            <img style="width:50%" src="img/info-img7.jpg">
          <p>Прямого  или  полуприлегающего  силуэта,  с  выточками  и  отрезными  бочками.  С
            подкладкой,  с  прокладкой  или  без  нее,  с  верхними  плечевыми  накладками  или  без  них;
            или без подкладки – с чистой обработкой срезов (окантовывание, настрачивание тесьмы и
            т.п.). З астежка бортовая центральная или смещенная, наружная или внутренняя на петли
            и пуговицы или на молнию, или на кнопки, или на крючки с петлями. Нижний край бортов с
            прямыми углами или скругленный. Карманы: в швах, прорезные в рамку или с листочками,
            или с клапанами; разных форм несложных фасонов накладные (с прямым или фигурным
            верхним краем или с планкой по верхнему краю) – не более двух карманов; или не более
            четырех отделочных клапанов или хлястиков в изделии. Внутренние карманы без отделки
            –  не  более  двух.  Спинка  цельная  или  разрезная  со  швом,  или  с  односторонней  или
            встречной  складкой.  Воротник  разных  фасонов  или  вырез  горловины  разных  форм.
            Рукава  разных  покроев.  Низ  рукавов  гладкий  или  с  одной  вытачкой,  складкой  на  каждом
            рукаве, или с продернутой эластичной тесьмой, готовым шнуром в один ряд. Низ изделия
            с продернутой эластичной тесьмой, готовым шнуром в один ряд или без них. Края и швы
            деталей  обработаны  без  отделочной  строчки  или  с  одной  отделочной  строчкой  в  одну
            нитку.  Куртка  (без  подкладки)    Описание  фасона  минимальной  сложности  аналогично
            приведенному  выше.  Изделия  без  внутренних  карманов.  Рукава  разной  длины.  Срезы
            деталей обметаны на краеобметочной машине.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Юбка (верхняя и легкая одежда))</h4>
            <img style="width:50%" src="img/info-img8.jpg">
          <p>Прямая  или  незначительно  расклешенная  (расклешение  по  боковым  швам  до  10  см  по
            низу  в  сложенном  вдвое  изделии  длиной  до  уровня  коленей  и  до  20  см  –  в  изделии
            длиной  ниже  уровня  коленей),  с  двумя  швами,  с  вытачками  или  сборками  (мягкими
            складками) вместо вытачек по линии талии. Верхний край юбки на цельновыкроенном или
            притачном поясе или на корсаже (с застежкой на одну петлю с пуговицей или кнопки, или
            крючки  и  петли),  или  с  продернутой  эластичной  тесьмой,  готовым  шнуром  в  один  ряд.
            Застежка  в  шве  на  молнию  длиной  до  20  см  или  на  крючки  и  петли,  или  на  кнопки.  Низ
            изделия  обработан  различными  способами:  швом  в  подгибку,  двойной  застрочкой  на
            стачивающей машине, на специальной машине зигзагообразной строчки.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Юбка нижняя</h4>
            <img style="width:50%" src="img/info-img9.jpg">
          <p>Прямая, с двумя швами, с вытачками или сборками по линии талии. Верхний край юбки на
            поясе  или  эластичной  тесьме.  Низ  изделия  обработан  на  стачивающей  машине,  с
            разрезами  в  швах  или  без  разрезов.  Чехол  разной  длины  под  платье  С
            цельновыкроенным  станом,  прямого  или  приталенного  силуэта,  незначительно
            расклешенного по боковым швам, с вытачками, со средним швом на переде и спинке. Без
            рукавов. Короткая застежка в шве от горловины на одну петлю разных видов с пуговицей
            или  на  молнию  длиной  до  20  см.  Без  воротника,  вырез  горловины  разной  формы.  Низ
            обработан на стачивающей машине, с разрезами в швах или без разрезов.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Легкая одежда женская. Платье, сарафан, халат, жакет, блузка.</h4>
            <img style="width:50%" src="img/info-img10.jpg">
          <p>С  цельновыкроенным  станом,  прямого  или  полуприлегающего  силуэта,  незначительно
            расклешенного  по  боковым  швам  (расклешение  до  10  см  по  низу  в  сложенном  вдвое
            изделии длиной до уровня коленей и до 20 см – в изделии длиной ниже уровня коленей),
            со  средним  швом  или  складкой  за  счет  припуска  или  вставки  на  переде  и  спинке.  Без
            рукавов  или  с  короткими  цельновыкроенными  рукавами  длиной  до  уровня  подмышечной
            впадины,  без  ластовиц,  или  изделия  на  бретелях.  Застежка  короткая  от  горловины  на
            молнию  длиной  до  20  см  или  на  одну  петлю  разных  видов  с  пуговицей  (кроме  халата).
            Воротник  отложной  (с  цельновыкроенной  стойкой),  шаль,  апаш  (с  отрезным  нижним
            воротником), стойка (по обхвату шеи) или вырез горловины несложной формы (вырез по
            обхвату  шеи,  вырез  небольшой  –  при  длине  плечевого  шва  свыше  5  см  или  вырез
            неглубокий  –  до  линии  обхвата  груди  первого).  Горловина  без  воротника  и  проймы
            обработаны  обтачкой  на  изнаночную  или  лицевую  стороны  изделия  или  окантовочным
            швом  –  руликом.  В  халате  застежка  разных  видов  на  обметанные  петли  и  пуговицы  или
            завязки­полупояса.    Низ  изделия  и  рукавов  обработан  различными  способами:  швом
            вподгибку,  двойной  застрочкой  на  стачивающей  машине,  на  специальной  машине
            зигзагообразной строчки, низ рукавов – также окантовочным швом ­ руликом.</p>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="col col-100 padding">
          <h4>Полукомбинезон</h4>
            <img style="width:50%" src="img/info-img11.jpg">
          <p>На бретелях, с нагрудником разных фасонов. Верхний край брюк на поясе или корсаже, с
            четырьмя вытачками (складками) по линии талии или с продернутой эластичной тесьмой,
            готовым  шнуром.  Застежка  на  петли  и  пуговицы  или  на  молнию.  Карманы:  в  швах,  в
            отрезных боковых частях передних половинок брюк, прорезные в рамку или с листочками,
            или с клапанами; разных форм несложных фасонов накладные (с прямым или фигурным
            верхним  краем  или  с  планкой  по  верхнему  краю)  –  не  более  двух  карманов  или  один
            сложный  карман  накладной  (с  клапаном,  хлястиком,  бейкой,  складками  и  т.д.),  или  не
            более  четырех  отделочных  клапанов  или  хлястиков.  Низ  брюк  без  манжет  или  с
            цельновыкроенными  манжетами,  ширина  по  низу  до  30  см.  Края  и  швы  деталей
            обработаны без отделочной строчки.</p>
          <h4>Комбинезон</h4>
          <p>Отрезной по линии талии или цельновыкроенный. Перед и спинка с вытачками (по линии
          талии количество вытачек не более четырех) Застежка наружная или внутренняя на петли
          и пуговицы или на молнию, или на кнопки, или на крючки с петлями. Карманы: в швах; в
          отрезных боковых частях передних половинок брюк; прорезные в рамку или с листочками,
          или с клапанами; разных форм несложных фасонов накладные (с прямым или фигурным
          верхним  краем  или  с  планкой  по  верхнему  краю)  –  не  более  двух  карманов;  или  один
          сложный  накладной  карман  (с  клапаном,  хлястиком,  бейкой,  складками  и  т.д.);  или  не
          более  четырех  отделочных  клапанов  или  хлястиков.  Спинка  цельновыкроенная  или
          разрезная  со  швом.  Воротник  разных  фасонов  или  вырез  горловины  разных  форм.
          Рукава: втачные, полуреглан, реглан, цельновыкроенные, комбинированные. Низ рукавов
          гладкий  или  с  отворотами,  или  с  продернутой  эластичной  тесьмой,  готовым  шнуром  в
          один ряд, или с одной вытачкой, складкой на каждом рукаве. Брюки с четырьмя вытачками
          (складками)  по  линии  талии,  низ  без  манжет  или  с  цельновыкроенными  манжетами,
          ширина по низу до 30 см. Края и швы деталей обработаны без отделочной строчки.</p>
        </div>
      </ion-slide>

    </ion-slide-box>

  </ion-content>
</ion-view>
