<ion-view view-title="Summary & calculation">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Тип ткани</div>
      <div class="item item-body">
        <div>
          <b>{{storedFabric.title}}</b>
          <p ng-show="calculator.isZeroGroup">Материал повышенной сложности! Коэффициент 1.2</p>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Тип базового изделия</div>
      <div class="item item-body">
        <div>
          <b>{{storedProduct.title}}</b>
        </div>
        <div>
          {{storedProduct.titleLong}}
        </div>
      </div>
    </div>
    <div class="list card" ng-show="storedExtras.length">
      <div class="item item-divider">Усложняющие элементы</div>
      <div class="item item-body" ng-repeat="x in storedExtras">
        <div>
          {{x.title}} x {{x.num}}
        </div>
      </div>
    </div>
    <form name="myForm">
    <div class="list card">
      <div class="item item-divider">Экстра размеры</div>
      <div class="item item-body">
        <div class="item range range-positive">
          <span>0.8</span>
          <input type="range" name="extraLength" ng-pattern="/^(0.8|1|1.2){1}$/" ng-model="extraLength.value" min="0.8" max="1.2" step="0.2" >
          <span>1.2</span>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Ставка за 1 час</div>
        <label class="item item-input">
          <input type="text" name="personalRate" ng-pattern="/^([1-9]+)([0-9]?)(\.[0-9]+)?$/" ng-model="personalRate.value" required />
        </label>
      <span ng-show="!myForm.personalRate.$valid">Неправильно указана ставка.</span>
    </div>
    </form>



    <div class="list card" ng-show="myForm.personalRate.$valid">
      <div class="item item-divider">Сумма</div>
      <div class="item item-body">
        <div class="assertive-bg" ng-show="!isValidate">{{error}}</div>
        <div ng-show="isValidate">{{getTotal()}}</div>
      </div>
    </div>

    <div class="list card" ng-show="myForm.personalRate.$valid">
      <div class="item item-divider">Итоговая формула</div>
      <div class="item item-body">
        <div class="assertive-bg" ng-show="!isValidate">{{error}}</div>
        <div>{{formulaText}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
