<ion-view view-title="Extra options">
  <ion-content>

    <div ng-show="error" class="list card">
      <div class="item item-divider">Product type</div>
      <div class="item item-body">
        <div>
          <b>{{error}}</b>
        </div>
      </div>
    </div>


    <ion-list ng-show="!error">
      <ion-item class="item item-text-wrap" ng-repeat="x in extras">

        <h2>{{x.title}}</h2>
        <p>{{x.titleLong}}</p>
        <span class="badge badge-positive">{{x.num}}</span>


        <ion-option-button class="button button-balanced" ng-click="increase(x);"><i class="icon ion-arrow-up-a"></i></ion-option-button>
        <ion-option-button class="button button-calm" ng-click="decrease(x);"><i class="icon ion-arrow-down-a"></i></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-clear" >
    <button class="button button-calm" >
      Filter: {{extraGroupFilter.title}}
    </button>
    <button class="button button-assertive" ng-click="reset();">
      <i class="icon ion-refresh"></i>
    </button>
  </ion-footer-bar>
</ion-view>
