<ion-view view-title="Extra options">
  <ion-content>

    <div class="list card" ng-show="!product">
      <div class="item item-divider">Изделие не выбрано</div>
      <div class="item item-body">
        <p>Базовое изделие не выбрано. Укажите, пожалуйста базовое изделие для отображения списка усложняющих элементов.</p>
      </div>
    </div>
    </div>

    <ion-list>
      <ion-item class="item item-text-wrap"
                ng-repeat="x in extras">

        <h2>{{x.title}}</h2>
        <p>{{x.titleLong}}</p>
        <span ng-show="(x.num>0)" class="badge badge-positive">{{x.num}}</span>


        <ion-option-button class="button button-balanced" ng-click="increase(x);"><i class="icon ion-arrow-up-a"></i></ion-option-button>
        <ion-option-button class="button button-calm" ng-click="decrease(x);"><i class="icon ion-arrow-down-a"></i></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-balanced" >
    <button class="button item-button-left button-clear">{{extraGroupTitle}}</button>
    <button class="button item-button-right button-balanced" ng-click="reset();">
      <i class="icon ion-refresh"></i>
    </button>
  </ion-footer-bar>
</ion-view>
