<ion-view view-title="Products & time rates">
  <ion-content>

    <ion-list>
      <ion-item ng-click="(p.showmore=p.showmore?false:true)"
                class="item item-icon-left item-text-wrap"
                ng-repeat="p in products">
        <i class="icon ion-checkmark-circled ng-hide" ng-show="p.checked"></i>
        <h2>{{p.title}}</h2>
        <p ng-show="p.showmore">{{p.titleLong}}</p>
        <ion-option-button class="button button-positive ion-checkmark-round" ng-click="choose(p);"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar align-title="right" class="bar-balanced" ng-show="fabric">
      <h6>Ткань: {{fabric.title}}</h6>
  </ion-footer-bar>
</ion-view>
