<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Fabric Tab -->
  <ion-tab title="Fabric" icon="ion-erlenmeyer-flask" href="#/tab/fabrics">
    <ion-nav-view name="tab-fabrics"></ion-nav-view>
  </ion-tab>

  <!-- Product Type -->
  <ion-tab title="Product" icon="ion-tshirt" href="#/tab/products">
    <ion-nav-view name="tab-products"></ion-nav-view>
  </ion-tab>

  <!-- Extra Type -->
  <ion-tab title="Extra" icon="ion-levels" href="#/tab/extras">
    <ion-nav-view name="tab-extras"></ion-nav-view>
  </ion-tab>

  <!-- Calculator Type -->
  <ion-tab title="Calc" icon="ion-ios-calculator" href="#/tab/calc">
    <ion-nav-view name="tab-calc"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> -->

  <!-- Chats Tab
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>  -->



  <!-- Account Tab
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab> -->


</ion-tabs>
